API_KEY="secret"
{% if cookiecutter.database == "sqlite" %}
DATABASE_URL="sqlite:///./app.db"
{% elif cookiecutter.database == "postgresql" %}
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/{{ cookiecutter.project_slug }}"
{% endif %}
